/* =============================================================================
   Variables
   ========================================================================== */


font-color = #222

selection-bg = #b3d4fc

link-color = #00e
link-visited = #551a8b
link-hover = #06e
